project_name                = "cloudapp"
environment                 = "dev"
location                    = "eastus"
postgres_location           = "mexicocentral"
postgres_server_name_suffix = ""
static_web_app_location     = "eastus2"
budget_amount_usd           = 20
budget_contact_emails       = []
frontend_origin             = "http://localhost:5173"
allowed_client_ip           = ""
catalog_provider            = "internal"
datahub_server              = ""
datahub_enabled             = false
purview_endpoint            = ""
purview_enabled             = false
sentinel_monitor_db_url     = ""
sentinel_monitor_database_name = "lab"
sentinel_enable_auto_collect = false
sentinel_collect_interval_seconds = 60
sentinel_risk_threshold     = 0.70
